
.tru-contact{
    margin-top: -60px;
}

.tru-contact-header{
	background-color: #5eb146;
	color: white;
	height: 60px;
	padding: 20px 0px;
}
.tru-contact-header h1{
	font-size: 24px;
}
.tru-contact-header span{
	font-size: 11px;
}
.banner p{
	font-size: 47px;
    position: absolute;
    bottom: 191px;
    left: 23%;
    right: 17%;
    line-height: 48px;
    color: white;
}
.form-header p{
	font-size: 26px;
	padding: 45px 0px 33px 0px;
}
.form-content{
	background-color: #e5e5e5;
	padding: 43px 54px 62px 48px;
}
.title{
	padding-left: 25px;
}
#col1 .control-label {
	text-align: left;
}
#col2 button{
	padding: 11px 28px 12px 25px;
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: bold;
	background-color: #5eb146;
	color: white;
}
.tru-contact-detail{
	padding: 53px 0px 100px 0px;	
}
.tru-contact-detail h2{
	font-size: 20px;
}
.tru-contact-detail p{
	font-size: 20px;

}
.tru-contact-detail #p2{
	margin-top: 46px;
}
.head-office{
	padding-left: 0px;
}
.head-office-detail>h2, .worLd-wide>h2{
	margin-bottom: 26px;
}

.flag-icon{
	width: 48px;
    height: 48px;
    margin: 0px 20px 44px 0px;
}
.social-icon-2>a>i{
	color: white;
}
.social-icon-2>a{
	padding-right: 15px;
}
.social-icon-2{
	padding-top: 16px;
}